h1 #{point.name}

p
    a(href='/points') Back to everyone

if following.length
    p #{point.number} is part of #{following.length} streets:
    // TODO should say 'point' if only one! ;)
    ul.points
        for other in following
            li.point
                form(action='/points/#{point.id}/unfollow', method='POST')
                    a(href='/points/#{other.id}') #{other.name}
                    input(type='hidden', name='point[id]', value='#{other.id}')
                    input(type='submit', class='unfollow', value='x')
                    
    p Case opened on #{point.opendate} and closed on #{point.closedate}. Action was #{point.action}.
else
    p #{point.name} isn't part of any streets.

if others.length
    form(action='/points/#{point.id}/follow', method='POST')
        p Add #{point.name} to a street:
        label
            select(name='streetid', required)
                option(value='')
                for point in others
                    option(value='#{point.id}') #{point.name}
        input(type='submit', value='Follow')
else
    p There's no one else left for #{point.name} to follow!

form(action='/points/#{point.id}', method='POST')
    p Edit this point:
    input(type='text', name='name', placeholder='#{point.name}', required)
    input(type='submit', value='Update')

form(action='/points/#{point.id}', method='POST', onsubmit='return confirm("Are you sure?");')
    p Please don't delete this case:
    input(type='hidden', name='_method', value='DELETE')
    input(type='submit', value='Delete Point')
